html {
  font-size: 100%;
  box-sizing: border-box;
}
*{
  box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bentham', Times New Roman, sans-serif;
    color: #fff;
    background: #5b7558;
    margin: 0;
    font-size: 1.25rem;
}

header {
  margin: 0;
  display: flex;
  padding: 1rem;
  align-items: center;
}

h1 {
  margin: 0;
  font-family: 'Fjalla One', Impact, serif;
  font-size: 3rem;
}

#container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 2rem 5rem;
  background: #3c3b63;
  max-width: 1400px;
}

p {
  max-width: 35rem;
}

#text {
  align-self: center;
}
#byLine {
  text-align: center;
}
#map1 {
  height: 30rem;
  width: 100%;
}

a:link {
  color: #fff;
}
a:visited {
  color: #000;
}
a:focus {
  color: #000;
}
a:hover {
  color: #C5DBF1;
}
a:active {
  color: #E89BE6;
}


@media screen and (max-width: 730px) {
  #container {
    padding: 0rem;
    margin: 0;
  }
  p{
    margin: 1rem;
  }
  #map1 {
    height: 30rem;
    width: 100%;
  }
}
